*
{
    box-sizing: border-box;
}

.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

body
{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body > button
{
    padding: 0.5em 1em;
    font-size: 1.5em;
    font-family: cursive;
    border-radius: 50px;
    border: none;
}

.darkMode
{
    background-color: black;
    color: white;
}

.lightMode
{
    background-color: white;
    color: black;
    outline: none;
    border: none;
}